@media (max-width: 1100px) {
    .form-box {
        width: 350px;
        margin-right: 50px;
    }

    input, textarea {
        width: 290px;
    }

    .form-box h2 {
        font-size: 23px;
    }
}

@media (max-width: 910px) {
    .box-vidro {
        height: 200px;
        width: 450px;
    }

    .container-1 h1 {
        font-size: 60px;
        transform: translate(-50%, -60%);
    }

    .container-1 h2 {
        font-size: 30px;
    }

    .form-box {
        width: 350px;
        margin-right: 75px;
        
    }

    .google-maps {
        width: 450px;
        height: 480px;
        margin-right: 55px;
    }

}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute; /* Ficar por cima de qualquer elemento na tela. */
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgb(206, 204, 204);
        height: 0px;
        transition: .6s; /* Para fazer a transição da altura de de zero para 100%. */
        z-index: 1000;
        visibility: hidden; /* Para esconder os itens do menu. */
        overflow-y: hidden; /* Utilizei o overflow no eixo y com hidden, para quando clicar no botão, esconder o menu. */
    }

    #nav.active #menu {
        height: calc(100vh - 70px); /* Para ocupar 100% da tela, utilizei o "vh" (viewport height), entretanto ele cria um scroll porque
                        ele esta colocando a altura de 1005 da tela, porem a 70px do topo. Então fazer um calculo para tirar o scroll. */
        visibility: visible; /* Para aparecer os itens do menu. */
    }

    #menu a {
        padding: 8px 0;
        margin: 0 16px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);

    }

    #buttonMenu {
        display: flex;
        padding: 8px 16px;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer; /* Altera a seta do mouse para uma mão. */
        gap: 8px;
    }

/* Criando o menu hamburguer. */

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block; /* Indicar que ele é um elemento de bloco, para poder pegar o height e o width. */
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
    }

    /* Criando o efeito do butão quando estiver ativo, alterando para um "X". */

    #nav.active #hamburguer {
        border-top-color: transparent; /* Para esconder o primeiro traço.*/

    }

    #nav.active #hamburguer::before {
        transform: rotate(45deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-45deg);
        top: -7px; /* Utilizei para posicionar o elemento mais acima, pois estava rotacionando no eixo central dele, que fica abaixo.
                    Porêm para que o top funcione, o elemento tem que ter um posicionamento, então troquei 
                    aqui(#hamburguer::after, #hamburguer::before) para "posicionamento:relative;". */
    }

    .container-1 {
        height: 500px;
    }

    .box-vidro {
        height: 150px;
        width: 350px;
    }

    .container-1 h1 {
        font-size: 45px;
        transform: translate(-50%, -60%);
    }

    .container-1 h2 {
        font-size: 22px;
    }

    .text-atuacao {
        font-size: 16px;
    }

    hr {
        width: 500px;
        transform: translate(-50%, 13000%);
    }

    .container-2 {
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;

    
    }

    .adv1, .adv2, .adv3, .adv4 {
        height: 200px;
        width: 300px;
        display: flex;
        vertical-align: top;
        text-align: center;
    }

    .img-adv1, .img-adv2, .img-adv3, .img-adv4 {
        height: 120px;
        border-radius: 50%;
        margin-top: 35px;

    }

    .text-adv1, .text-adv2, .text-adv3, .text-adv4 {
        margin: 8%;
        text-align: left;
        
    }

    .container-3 {
        height: 270px;
    }

    .text-sobre {
        color: white;
        font-size: 18px;
        width: 80%;
    }

    .form-box {
        width: 500px;
        height: 430px;
        margin-right: 5px;
        margin-bottom: 20px;
        
    }

    input, textarea {
        width: 400px;
    }

    .form-box h2 {
        font-size: 18px;
    }

    .google-maps {
        width: 500px;
        height: 480px;
        margin-right: 5px;
    }

    .endereco {
        width: 200px;
        margin-top: 50px;
        margin-bottom: 30px;
    
    }

    .endereco h2, .tel-email h2, .redes-sociais h2 {
        margin-bottom: 15px;
        font-size: 15px;
    
    }

    .endereco h3, .tel-email h3 {
        font-size: 12px;
    }

    .tel-email, .redes-sociais {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .tel-email h3 {
        line-height: 20px;
    }

    .face-img, .inst-img, .link-img {
        width: 18px;
        margin-right: 5px;

    }

}